<mat-card>
    <mat-card-title>Alterar Planta</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="plant.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Alerta" [(ngModel)]="plant.alert" name="alert">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updatePlant()" color="primary">
        Atualizar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>